<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>BitChicks Admin</title>
  <link rel="stylesheet" href="estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Itim&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
    <div>
      <h1>✨ BitChicks Admin ✨</h1>
      <nav class="nav">
        <a href="/index">Inicio</a>
        <a href="/estadisticas">Estadísticas</a>
        <a href="/usuarios">Usuarios</a>
        <a href="/leccion">Lecciones</a>
        <a href="/preguntas">Preguntas</a>
        <a href="/lecciones">Lección</a>
        <a href="/agregar">Administradoras</a>
        <a href="/creditos">Créditos</a>
      </nav>
    </div>

    <% if (admin) { %>
      <div class="logout-container">
        <form action="/logout" method="POST" style="margin: 0;">
          <button type="submit" class="logout-button">Cerrar Sesión</button>
      </div>
    <% } %>
  </header>

  <main class="main">
    <section class="welcome">
      <h2>Bienvenida, Administradora 🐣</h2>
      <p>Este es tu espacio para monitorear el mundo de BitChicks, donde encontrarás información que puede ser de utilidad para ti.</p>
    </section>
  </main>

  <footer class="footer">
    <p>&copy; 2025 BitChicks - Todos los derechos reservados para CryptoChicks</p>
  </footer>

</body>
</html>