<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Juego</title>
  <link rel="stylesheet" href="estilos.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Itim&display=swap" rel="stylesheet">
</head>
<body>

  <header class="header">
    <div>
      <h1>BitChicks 🐣</h1>
    </div>

    <!-- Botón de acceso admin -->
    <div class="logout-container">
      <a href="/login" class="logout-button">Administradoras</a>
    </div>
  </header>

  <main class="main">
    <!-- Contenido del juego aquí -->
  </main>

  <footer class="footer">
    <p>&copy; 2025 BitChicks - Todos los derechos reservados para CryptoChicks</p>
  </footer>

</body>
</html>